<h2> Notifications </h2>

<table id="list_notification" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            {% for column in header %}
                <th>
                    {{ column }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        {%  if 0 == row.isread  %}
            <tr style="background-color:lightgoldenrodyellow">
        {% else %}
            <tr>
        {% endif %}
            <td>
                {{ row.assigned_by }}
            </td>
            <td>
                {{ row.message }}
            </td>
            <td>
                {{ row.action }}
            </td>
            <td>
                {{ row.date }}
            </td>
            <td>
                {%  if "-" == row.validationUrl  %}
                    -
                {% else %}
                    <a href="{{ row.validationUrl }}">Voir</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>